@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color : inherit;
}

body{
    background-color: white;
    width: 100%;
    height : 100%;
    margin: 0%;
}

header{
    color : white;
    display : flex;
    justify-content: space-between;
    background-color: #032541;
    padding-top : 1.5%;
    padding-bottom : 1.5%;
    padding-left : 5%;
    i{
        margin-top : 0.8%;
        font-size: 3.5em;
    }
    #conteneurHeader{
        padding-right : 2.5%;
        width : 50%;
        display : flex;
        justify-content: flex-end;
        h2{
            margin-right : 5%;
            font-family: "Roboto", sans-serif;
            font-size : 1.5em;
            &:hover{
                    text-decoration: underline;
                }
        }
    }
}

main{
    width : 100%;
    background-color: white;
    #accueilRecherche{
        background-image: url(".././images/thor.png");
        background-size: cover;
        background-position:100%;
        opacity: 60%;
        padding-top : 10%;
        padding-bottom : 10%;
        display : flex;
        justify-content: center;
        #barreRecherche{
            margin :auto;
            border-radius: 5px;
            padding : 1%;
            background-color: #E7E7E7;
            width : 85%;
            display : flex;
            justify-content: space-between;
            #recherche{
                padding-top : 1%;
                padding-bottom : 1%;
                padding-left : 1%;
                font-size: 1.2em;
                margin-right : 1%;
                border: none;
                border-radius: 0;
                background-color: #E7E7E7;
                width : 100%;
            }
            i{
                margin : auto;
                color: black;
                font-size: 2.5em;
                opacity: 100%;
            }
        }
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding-top:2%;
        .conteneurMenuSection{
            display : flex;
            justify-content: flex-start;
            margin-bottom : 2%;
            h1{
                font-size: 2.4em;
                font-family: "Roboto";
                font-weight: lighter;
                color : black;
                display: flex;
                justify-content: flex-start;
                margin-right : 3.5%;
                margin-left : 8%;
            }
            button{
                margin-top : auto;
                margin-bottom: auto;
                padding-top : 0.7%;
                padding-bottom : 0.7%;
                font-size: 1.3em;
                margin-right : 3.5%;
                width : 12%;

            }
            .meilleures{
                background-color : #032541;
                border-color : white;
                color : white;
            }
            .populaires{
                background-color : white;
                border-color : #032541;
                color : #032541;
            }
        }
        #listeTendances {
            margin-left :3.6%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #listeSeries {
            margin-left :3.6%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }

         #listeFilms {
            margin-left :3.6%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }

        
        
        .carteFilm {
            width :15%;
            margin-right : 8%;
            margin-bottom: 5%;
            .affiche {
                position: relative;
                transition: transform 0.2s;
                box-shadow: 0.1em 0.2em 0.3em #b6b6b6;
                :hover {
                    box-shadow: 0.3em 0.3em 0.3em #6a6a6a;
                }
                img {
                    width: 100%;
                    display: block;
                }
                .note {
                    position: absolute;
                    bottom: -18px;
                    right: -18px;
                    width: 30%;
                    height : 20%;
                    background: #032541;
                    border-radius: 50%;
                    border: 0.1em solid white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;
                    font-weight:bolder;
                    color: white;
                    font-family: "Roboto", sans-serif;
                    box-shadow: 0.1em 0.2em 0.3em #b6b6b6;
                    :hover {
                        box-shadow: 0.3em 0.3em 0.3em #032541;
                    }
                    
                }
            }
            .infoFilm {
                margin-top: 10%;
                display: flex;
                flex-direction: column;
                h3{
                    font-family: "Roboto", sans-serif;
                    font-size: 1.1em;
                    color: #032541;
                    margin : 0%;
                }
                p{
                    margin : 0%;
                    font-family: "Roboto", sans-serif;
                    font-size: 0.9em;
                    color: black;
                }
            }
        }
    }

    #series{
        background-color: #E7E7E7;
    }
}

footer{
    width : 100%;
    font-family: 'Roboto';
    font-weight: lighter;
    align-items: center;
    display : flex;
    margin:0;
    justify-content: space-around;
    background-color: #032541;
    p{
        font-size: 1.4em;
            font-weight: lighter;
            text-align: center;
            color: white;
    }
}