@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color : inherit;
}

body{
    background-color: white;
    width: 100%;
    height : 100%;
    margin: 0%;
}

header{
    color : white;
    display : flex;
    justify-content: space-between;
    background-color: #032541;
    padding-top : 1.5%;
    padding-bottom : 1.5%;
    padding-left : 5%;
    i{
        margin-top : 0.8%;
        font-size: 3.5em;
    }
    #conteneurHeader{
        padding-right : 2.5%;
        width : 50%;
        display : flex;
        justify-content: flex-end;
        h2{
            margin-right : 5%;
            font-family: "Roboto", sans-serif;
            font-size : 1.5em;
            &:hover{
                    text-decoration: underline;
                }
        }
    }
}

main{
    #informations {
        padding-top :5%;
        padding-bottom:5%;
        background-size: 100%;
        background-repeat: no-repeat;
        display : flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);

        #contenuFilm {
            margin-left : 10%;
            display: flex;
            flex-direction: row;
            width: 100%;

            #affiche {
                width: 25%;
                border-radius: 10px;
            }

            #infos {
                margin-top : 0.1%;
                padding-top: 0%;
                margin-left : 4.5%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                color: white;
                font-family: "Roboto", sans-serif;
                width: 100%;

                #conteneurInfosPrincipales{
                    margin-top : 0%;
                    margin-bottom : 5%;
                    display : flex;
                    justify-content: flex-start;

                    #noteFilm {
                        width: 10%;
                        aspect-ratio: 1;
                        background-color: #032541;
                        border-radius: 50%;
                        border: 0.1em solid white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 1.2em;
                        margin-right : 3%;
                    }

                    #conteneurInfosMajeures{
                        margin-top : auto;
                        margin-bottom : auto;
                        width : 100%;
                        h1 {
                            margin : 0%;
                            font-size: 1.8em;
                        }
                        #sousTitre {
                            margin : 0%;
                            font-weight: 1.5em;
                            font-weight: lighter;
                        }
                    }
                }

                h3 {
                    margin:0%;
                    margin-left : 0.5%;
                }

                p {
                    margin: 0;
                    margin-top : 3%;
                    margin-left : 0.5%;
                    font-size: 1.1em;
                    width : 60%;
                    font-weight: lighter;
                }
            }
        }
    }

    #acteurs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding-top:2%;
        h1{
            font-size: 2.4em;
            font-family: "Roboto";
            font-weight: lighter;
            color : black;
            display: flex;
            justify-content: flex-start;
            margin-right : 3.5%;
            margin-left : 8%;
            margin-bottom : 2%;
        }  

        #listeActeurs {
            margin-left :3.6%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;

            .carteActeur {
                width :15%;
                margin-right : 8%;
                margin-bottom: 5%;

                .photo {
                    position: relative;
                    transition: transform 0.2s;
                    box-shadow: 0.1em 0.2em 0.3em #b6b6b6;
                    :hover {
                        box-shadow: 0.3em 0.3em 0.3em #6a6a6a;
                    }

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                .infoActeur {
                    margin-top: 10%;
                    display: flex;
                    flex-direction: column;

                    h3{
                        font-family: "Roboto", sans-serif;
                        font-size: 1.1em;
                        color: #032541;
                        margin : 0%;
                    }

                    p{
                        margin : 0%;
                        font-family: "Roboto", sans-serif;
                        font-size: 1em;
                        color: black;
                    }
                }
            }
        }  
    }
}

footer{
    width : 100%;
    font-family: 'Roboto';
    font-weight: lighter;
    align-items: center;
    display : flex;
    margin:0;
    justify-content: space-around;
    background-color: #032541;
    p{
        font-size: 1.4em;
            font-weight: lighter;
            text-align: center;
            color: white;
    }
}
